<div class="container my-2">
    <div class="inicio">
        <div class="hidden mt-4" id="ventas">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 justify-content-evenly">
                <div class="col p-1 mb-2" id="RegNV">
                    <button type="button" class="btn green hover btn-lg p-4 g-2 w-100 option"
                        routerLink="/registro_usr">
                        Registrar Usuario
                    </button>
                </div>
                <div class="col p-1 mb-2" id="ConsNV">
                    <button type="button" class="btn yellow hover btn-lg p-4 g-2 w-100 option"
                        routerLink="/mostrar_orgs">
                        Mostrar Servicios de Seguridad Locales
                    </button>
                </div>
                <div class="col p-1 mb-2" id="RegENC">
                    <button type="button" class="btn blue hover btn-lg p-4 g-2 w-100 option" routerLink="/mostrar_usrs">
                        Mostrar Usuarios
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>