<div class="container">
    <div id="tabla">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Organizacion</td>
                    <td> Telefono </td>
                </tr>
            </thead>
            <tbody>
                @for(org of organizaciones; track org.id) {
                <tr>
                    <td>
                        {{ org.id }}
                    </td>
                    <td>
                        {{ org.name }}
                    </td>
                    <td>
                        {{ org.phone }}
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="container">
        <div id="map"></div>
    </div>
</div>