<div class="container_principal">
    <div class="card text-center">
        <div class="card-header">
            Registro de Usuario
        </div>
        <div class="card-body">
            <form [formGroup]="user_form">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre(s)</label>
                    <input type="text" class="form-control" formControlName="name" id="nombre"
                        aria-describedby="emailHelp">
                </div>
                <div class="alert alert-danger mt-2"
                    [hidden]="user_form.get('name')?.valid || user_form.get('name')?.pristine">
                    <span *ngIf="user_form.get('name')?.errors?.['required']">
                        El nombre es requerido.
                    </span>
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido(s)</label>
                    <input type="text" class="form-control" formControlName="lastname" id="apellido"
                        aria-describedby="emailHelp">
                </div>
                <div class="alert alert-danger mt-2"
                    [hidden]="user_form.get('lastname')?.valid || user_form.get('lastname')?.pristine">
                    <span *ngIf="user_form.get('lastname')?.errors?.['required']">
                        El apellido es requerido.
                    </span>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" formControlName="email" id="email">
                </div>
                <div class="alert alert-danger mt-2"
                    [hidden]="user_form.get('email')?.valid || user_form.get('email')?.pristine">
                    <span *ngIf="user_form.get('email')?.errors?.['required']">
                        El email es requerido.
                    </span>
                    <span *ngIf="user_form.get('email')?.errors?.['email']">
                        El email no es valido.
                    </span>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="user_form.invalid" (click)="send_to_api()"
                    routerLink="/registro_dir">Enviar</button>
            </form>
        </div>
    </div>
</div>